* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstSection {
  height: 100vh;
  width: 100%;
}

/*-----NavBar------*/

.navBarContainer {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

/*-----Company Logo and Name------*/

.companyLogoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.companyLogoContainer img {
  height: 80px;
  width: 60px;
}

.companyLogoContainer h1 {
  color: black;
  font-family: Roboto;
  font-size: 25px;
}

/*-----NavBar Link------*/

.navBarListContainer {
  display: flex;
  gap: 50px;
}

.navBarList {
  list-style: none;
}

.navBarList a {
  text-decoration: none;
  font-size: 20px;
  /* font-family: Roboto; */
  color: black;
}

/*-----Hero Section------*/

.heroSection {
  height: calc(100vh - 70px);
  width: 100%;
  background-image: url("images/bgc_2.jpg");
  /* backdrop-filter: blur(1rem); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heroSectionContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.7);
  display: flex;
}

.leftHeroSectionContainer,
.righttHeroSectionContainer {
  width: 50%;
  height: 100%;
}

/*-----Left Hero Section-----*/

.leftHeroSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  justify-content: center;
  padding-left: 150px;
}

.leftHeroSectionContainer h1 {
  font-size: 40px;
  font-family: Roboto;
}

.leftHeroSectionContainer button {
  padding: 10px 20px;
  border-radius: 15px;
  border: 0;
  border-style: none;
  cursor: pointer;
}

.leftHeroSectionContainer button:hover {
  color: white;
  background-color: red;
  border: 2px;
  border-style: solid;
  border-color: white;
}

.leftHeroSectionContainer p {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*----Right Hero Section----*/

#rightImageContainer {
  width: 100%;
  height: 100%;
}

#rightImageContainer img {
  width: 100%;
  height: 100%;
  animation: spin 8s linear;
}

/*----Spin Animation----*/

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*----Article section----*/

.inBetweenArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -46px;
  font-family: Roboto;
  font-size: 12px;
}

.inBetweenArticle p {
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.inBetweenArticle button {
  background-color: rgb(217, 150, 58);
  padding: 6px 25px;
  color: white;
  border-radius: 20px;
  z-index: 100;
}

/*----Second Section----*/

.secondSection {
  height: 80vh;
  width: 100%;
  margin-top: -17px;
  background-color: whitesmoke;
}

.secondSectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.leftSecondSection,
.rightSecondSection {
  width: 50%;
  height: 100%;
}

.leftSecondSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSecondSection div {
  width: 100%;
  height: 100%;
}

.leftSecondSection div img {
  margin-top: 90px;
  margin-left: 100px;
  width: 80%;
  height: 80%;
}

.rightSecondSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* align-items: center; */
  justify-content: center;
}

.rightSecondSection h3 {
  font-family: Roboto;
  font-size: 16px;
}

.rightSecondSection h1 {
  font-family: Roboto;
  font-size: 22px;
}

.rightSecondSection p {
  font-family: Roboto;
  font-size: 12px;
  margin-bottom: 15px;
}

.rightSecondSection div button {
  border: 1;
  border-style: solid;
  border-color: rgb(34, 32, 32);
  cursor: pointer;
  background-color: rgb(217, 150, 58);
  padding: 6px 25px;
  color: white;
  border-radius: 20px;
  font-family: Roboto;
}

.rightSecondSection div button:hover {
}
